// <%= config[:theme_info] %>
// Bootswatch Font Awesome

// Variables
// --------------------------

<% config[:less_variables].each do |less_variable| -%>
<%= less_variable -%>
<% end %>

// Imports
// --------------------------

<%
config[:less_imports].map{|item| item.gsub(/.less/, '')}.each do |less_file|
unless less_file == 'variables' -%>
@import "font-awesome/<%= less_file %>";
<%
end
end
%>
